@use "./variables" as vars;
@use "./mixins" as mixins;

.selected-animal-container {
  place-self: center;
  max-width: 50vw;
  @include mixins.card-style;

  .image-container {
    max-width: 100%;
    position: relative;
    img {
      width: 100%;
    }
    .heart-icon {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3rem;
      animation: fade-in-out 2s ease-in-out;
    }
  }

  .info-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .info-minor-content {
      font-style: italic;
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }
  }
  .btn-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .feed-btn,
  .pat-btn {
    flex: 1;
    @include mixins.primary-btn;

    &:hover {
      @include mixins.grow-animation(0.3s, ease-in);
      @include mixins.ring-outline(vars.$secondary-button-color);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.9;
      animation: none;
      box-shadow: none;
    }
  }
}
@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
