@use "./variables" as vars;
@use "./mixins" as mixins;

.selected-animal-container {
  place-self: center;
  gap: 1rem;
  width: 50vw;
  @include mixins.card-style;

  .image-container {
    max-width: 100%;
    img {
      width: 100%;
    }
  }

  .info-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .info-minor-content {
      font-style: italic;
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }
  }

  .feed-btn {
    @include mixins.primary-btn;
    &:hover {
      @include mixins.grow-animation(0.3s, ease-in);
      @include mixins.ring-outline(vars.$secondary-button-color);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.9;
      animation: none;
      box-shadow: none;
    }
  }
}
