@use "./variables" as vars;
@use "./mixins" as mixins;
.animals-container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 2rem;

  a {
    text-decoration: none;
    color: vars.$primary-text-color;

    &:visited {
      color: vars.$primary-text-color;
    }
    &:active {
      color: vars.$primary-text-color;
    }
  }

  .animal-container {
    @include mixins.card-style;

    .more-btn {
      justify-self: end;
      @include mixins.secondary-btn;
    }
  }
}
