@use "./variables" as vars;
@use "./mixins" as mixins;

.animals-container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 2rem;

  .animal-container {
    @include mixins.card-style;

    .image-container {
      max-width: 100%;
      img {
        width: 100%;
      }
    }

    .more-btn {
      justify-self: end;
      @include mixins.secondary-btn;

      &:hover {
        @include mixins.grow-animation(0.3s, ease-in);
      }
    }
  }
}
