@use "./variables" as vars;

header {
  height: 10em;
  place-self: center;
  text-align: center;

  a {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    color: inherit;

    &:hover {
      color: vars.$hover-button-color;
    }
    &:active {
      text-decoration: underline;
    }

    img {
      max-height: 50px;
    }
  }
}
